language: rust
rust: stable

os: linux
cache: cargo

before_install:
  - sudo apt-get install libv4l-dev

jobs:
  allow_failures:
    env:
      - CAN_FAIL=true
  fast_finish: true
  include:
    - {}
    - stage: build
      script:
        - cargo build --no-default-features
        - cargo build --features v4l
    - stage: test
      script:
        - cargo test --no-default-features
        - cargo test --features v4l
    - stage: fmt
      before_script:
        - rustup component add rustfmt
      script:
        - cargo fmt -- --check
    - stage: clippy
      env: CAN_FAIL=true
      before_script:
        - rustup component add clippy
      script:
        - cargo clippy -- -D warnings

stages:
  - build
  - test
  - fmt
  - clippy
